html, body
{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: helvetica;
}
nav
{
    display: flex;
    background:#7ACC2D;
    padding: 10px;
    color: white;
    justify-content: space-between;/*aqui se puede mandar a la derecha toda la lista*/
    align-items: center;/*permite centrar el logo de brand*/
}
nav ul
{
    display: flex;
}
nav li
{
    padding-left: 20px;
    list-style: none;
}
nav li a
{
    color: black;
    text-decoration: none; /*Me permite quitar el color el resaltado al link o sea lo decorado*/
}
nav li a:hover
{
    color: white;
}
/* Realizacion del main section */
.main_section
{
    padding: 15%;
    text-align: center;
}
.products
{
    background-image: url("../images/curve.png");
    height: 200px;/*altura para notar que la imagen esta ahi*/
    background-size: cover;/*esto permite que la imange ocupe el tamaño que tiene*/
    background-position: center top;/*alinea hacia el centro pero hacia arriba*/
    padding: 15%;/*esto se hace para ver el contenido de content*/
    display: flex;
}
.product
{
    padding: 10px;
}
.product .content
{
    background-color: white;
    padding: 20px;
}