html, body
{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: helvetica;
}
nav
{
    display: flex;
    background:#7ACC2D;
    padding: 10px;
    color: white;
    justify-content: space-between;/*aqui se puede mandar a la derecha toda la lista*/
    align-items: center;/*permite centrar el logo de brand*/
}
nav ul
{
    display: flex;
}
nav li
{
    padding-left: 20px;
    list-style: none;
}
nav li a
{
    color: black;
    text-decoration: none; /*Me permite quitar el color el resaltado al link o sea lo decorado*/
}
nav li a:hover
{
    color: white;
}
/* Realizacion del main section - menu de seccion */
.main_section
{
    padding: 15%;
    text-align: center;
}
/* Productos */
.products
{
    background-image: url("../images/curve.png");
    max-height: 50px;/*altura para notar que la imagen esta ahi*/
    background-size: cover;/*esto permite que la imange ocupe el tamaño que tiene*/
    background-position: center top;/*alinea hacia el centro pero hacia arriba*/
    padding: 20%;/*esto se hace para ver el contenido de content*/
    display: flex;
}
/* producto */
.product
{   
    padding: 10px;
    margin-top: -240px;
}
/* Producto y contenido */
.product .content
{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 1px #c1bcbc;
}
/* Iniciando el image_content */
.image_content
{
    text-align: center;
}
/* Creacion del boton para la tarjeta */
.main_button
{
    background-color: #7ACC2D;
    width: 100%;/*Aqui el boton ocupa el 100% del tamaño de la tarjeta*/
    padding: 10px;
    font-size: 17px;
    color: white;
    border: 0;
    cursor: pointer;/*para que salga la manito cuando se esta encima del boton*/
    border-radius: 2px;

}
/* Efecto de interaccion del boton */
.main_button:hover
{
    background-color:#6da03e;
}