@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* Variables */
:root
{
    /* variables de color */
    --green-color:#7ACC2D;
    --white-color:white; 
    --black-color:#313337;
    /* variable de tipografia */
    --normal:12px;
    /* variables de espaciado  */
    --space:10px;
    /* variable sombra de la caja */
    --box:0px 0 2px 1px #e6e5e9 ;
}

/* 
fin de las variables */

/* Todo lo incluido dentro del html y el body */
html, body
{
    padding: 0px;
    margin: 0px;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}
/* creacion del navbar */
nav
{
    display: flex;
    background: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;/*aqui se puede mandar a la derecha toda la lista*/
    align-items: center;/*permite centrar el logo de brand*/
}
/* el ul dentro del nav */
nav ul
{
    display: flex;
}
/* el listado dentro del nav */
nav li
{
    padding-left: 20px;
    list-style: none;
}
/* la etiqueta a en los listados li dento del navbar */
nav li a
{
    color:var(--black-color);
    text-decoration: none; /*Me permite quitar el color el resaltado al link o sea lo decorado*/
}
/* efecto de la etiqueta "a" cuando se pasa por encima del link dentro del listado del nav */
nav li a:hover
{
    color:var(--white-color);
}
/* Realizacion del main section - menu de seccion */
.main_section
{
    padding: 15%;
    text-align: center;
}
/* Productos */
.products
{
    background-image: url("../images/curve.png");
    max-height: 50px;/*altura para notar que la imagen esta ahi*/
    background-size: cover;/*esto permite que la imange ocupe el tamaño que tiene*/
    background-position: center top;/*alinea hacia el centro pero hacia arriba*/
    padding: 20%;/*esto se hace para ver que tiene el content*/
    display: flex;
}
/* producto */
.product
{   
    padding: var(--space);
    margin-top: -240px;
}
/* Producto y contenido */
.product .content
{
    background-color:var(--white-color);
    padding: 15px;
    box-shadow:var(--box);
}
/* Iniciando el image_content */
.image_content
{
    text-align: center;
}
/* Creacion del boton para la tarjeta */
.main_button
{
    background-color:var(--green-color);
    width: 100%;/*Aqui el boton ocupa el 100% del tamaño de la tarjeta*/
    padding: var(--space);
    font-size:var(--normal);
    color:var(--white-color);
    border: 0;
    cursor: pointer;/*para que salga la manito cuando se esta encima del boton*/
    border-radius: 2px;

}
/* Efecto de interaccion del boton */
.main_button:hover
{
    background-color:#6da03e;
}
/* Realizacion de la seccion beneficios */
.beneficts
{
    display: flex;
    background-size: cover;
    background-position: center;
    padding:10%;
}
/* Beneficio */
.benefict
{
    padding: 20px;
    
}
/* Benficio dentro contenido */
.benefict .content
{
    padding:5%;
    
}
/* Beneficio tamaño de titulo h3 */
.benefict h3{
    text-align: center;
}
/* Beneficio dentor de contenido parrafo "p" */
.benefict .content p
{
    text-align: center;
}
.mentions_principal
{
    box-shadow: var(--box);
}
.main_section2
{
    text-align: center;
    padding: 20px;
}
.mentions
{
    display: flex;
    background-size: cover;
    background-position:center;
    border: 1;
    border-radius: 2px;
   
}
.mention
{
    padding:var(--space);
}
.mention .content
{
    padding:5%;
    box-shadow: var(--box);
}
/* Realizacion del footer */
footer
{
    background-color:var(--black-color);
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    
}
footer li
{
    color: var(--white-color);
    list-style: none;

}
footer li a
{
    color: var(--white-color);
    text-decoration: none;
    
}


